@model IEnumerable<CleaningPipeline.Models.RoomDto>
@{
    // GET: Room/List
    ViewBag.Title = "List Rooms";
}

<div class="flex-container">
    <div>
        <div class="test"><h2 class="styled-header-room">Rooms</h2></div>
        <div class="card-items">
            @foreach (var room in Model)
            {
                <div class="card-item" >
                    <a href="Show/@room.RoomId">@room.RoomName</a>
                </div>
            }
        </div>
    </div>

    <div class="btn-add">
        <a class="btn-add-text" href="/Room/New/">Add new room</a>
    </div>
</div>
