@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">House Cleaning Pipeline</h1>
        <p id="p-after-title" class="lead">
            Welcome to House Cleaning Pipeline CMS! Your go-to solution for managing cleaning tasks, owners and house zones. Let's get started!
        </p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <div class="test">
                <h2 id="gettingStartedTitle" class="styled-header-chore">Chores</h2>
            </div>
            <p>
                The Chores module enables users to create, assign, and manage household tasks effortlessly. Users can set description, frequency, and assign rooms and owners, ensuring clarity and accountability.
            </p>
            <p><a class="btn btn-outline-dark" href="Chore/List">Start managing &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <div class="test">
                <h2 id="librariesTitle" class="styled-header-owner">Owners</h2>
            </div>
            <p>The Owners module allows efficient profile management of family members. This ensures clear role assignments and secure control over tasks, enhancing organization within the household.</p>
            <p><a class="btn btn-outline-dark" href="Owner/List">Start managing &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <div class="test">
                <h2 id="hostingTitle" class="styled-header-room">Rooms</h2>
            </div>
            <p>The Rooms module divides the house into manageable areas. Users can monitor and manage the cleaning status of each zone, ensuring every part of the house is maintained efficiently.</p>
            <p><a class="btn btn-outline-dark" href="Room/List">Start managing &raquo;</a></p>
        </section>
    </div>
</main>